<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Встречи</title>
</head>
<body>
    <h1>Встречи для {{.User.Name}}</h1>
    <form method="post" action="/meetings">
        <label for="date">Выберите дату встречи:</label>
        <input type="date" id="date" name="date" required>
        <label for="time">Выберите время встречи:</label>
        <input type="time" id="time" name="time" required>

        <button type="submit">Записаться на встречу</button>
    </form>
    
    <h2>Ваши встречи:</h2>
    <ul>
        {{range .Meetings}}
            <li>
                Дата: {{.Date.Format "2006-01-02 15:04"}} 
                Время записи: {{.CreatedAt.Format "2006-01-02 15:04"}} 
                {{if .Cancelled}}(Отменена){{else if .Date.Before $.Now}}(Просрочена){{end}}
                <a href="/cancel_meeting?id={{.ID}}">Отменить</a>
                <a href="/meetings/edit?id={{.ID}}&new_time={{.Date.Format "2006-01-02 15:04"}}">Редактировать</a>
            </li>
        {{end}}
    </ul>
    
    <a href="/user_profile">Назад в личный кабинет</a>
    <a href="/logout">Выйти</a>
</body>
</html>