<!-- <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
</head>
<body>
    <h1>Личный кабинет</h1>
    <h2>Добро пожаловать, {{.User.Name}}!</h2>
    <h3>Ваши встречи:</h3>
    <ul>
        {{range .Meetings}}
            <li>
                Встреча ID: {{.ID}}, Дата: {{.Date.Format "2006-01-02 15:04"}}, Отменена: {{.Cancelled}}
                <a href="/cancel_meeting?id={{.ID}}">Отменить</a>
            </li>
        {{else}}
            <li>У вас нет встреч.</li>
        {{end}}
    </ul>
    <form method="post" action="/meetings">
        <label for="date">Добавить встречу:</label>
        <input type="date" name="date" required>
        <label for="time">Выберите время:</label>
        <input type="time" name="time" required>
        <button type="submit">Добавить</button>
    </form>
    <a href="/logout">Выйти</a>
</body>
</html> -->


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль пользователя</title>
</head>
<body>
    <h1>Профиль пользователя: {{.User.Name}}</h1>
    <form method="post" action="/meetings">
        <label for="date">Выберите дату встречи:</label>
        <input type="date" id="date" name="date" required>
        <label for="time">Выберите время встречи:</label>
        <input type="time" id="time" name="time" required>

        <button type="submit">Записаться на встречу</button>
    </form>
    
    <h2>Ваши встречи:</h2>
    <ul>
        {{range .Meetings}}
            <li>
                Дата: {{.Date.Format "2006-01-02 15:04"}} 
                Время записи: {{.CreatedAt.Format "2006-01-02 15:04"}} 
                {{if .Cancelled}}(Отменена){{else if .Date.Before $.Now}}(Просрочена){{end}}
                <a href="/cancel_meeting?id={{.ID}}">Отменить</a>
                <a href="/meetings/edit?id={{.ID}}&new_time={{.Date.Format "2006-01-02 15:04"}}">Редактировать</a>
            </li>
        {{end}}
    </ul>
    
    <a href="/user_profile">Назад в личный кабинет</a>
    <a href="/logout">Выйти</a>
</body>
</html>
